<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Página Inicial
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Requisição REST</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-button color="primary" (click)="executeRequest()">Executar</ion-button>
            
            <ion-list>
                <ion-item *ngFor="let item of items">
                    <ion-label>{{ item.id  + " - " + item.name}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>SYNC</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-button color="primary" (click)="sync()">Sync</ion-button>

            <ion-item *ngFor="let task of tasks">
                <ion-label>{{ task.id  + " - " + task.actionName}}</ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>